<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

<title>Reserva Cita</title>
  <link rel="icon" href="/images/logoappReserva.jpg" type="image/png">
  <link rel="shortcut icon" href="/images/logoappReserva.jpg" type="image/png">


  <!-- Bootstrap core CSS -->
  <link th:href="@{vendor/bootstrap/css/bootstrap.css}" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link th:href="@{css/heroic-features.css}" rel="stylesheet">

</head>

<body>

  <!-- Navigation -->
   <div th:include="administrador/template_admin.html::header" ></div>

<!-- Page Content -->
<div class="container">


  <!-- Page Heading/Breadcrumbs -->
  <h1 class="mt-4 mb-3">
    Reserva Cita <small>Citas por confirmar</small>
  </h1>

  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="index.html">Home</a></li>
    <li class="breadcrumb-item active">Citas por confirmar</li>
  </ol>

  
  <h2>Clases</h2>
  <table class="table">
    <thead>
      <tr>
        <th>Fecha</th>
        <th>Nombre</th>
        <th>Hora de inicio</th>
        <th>Hora de fin</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr th:each="clase:${clasesporconfirmar}">
        <td th:text="${#dates.format(clase.modalidad.date, 'dd/MM/yyyy')}"></td>
        <td th:text="${clase.nombre}"></td>
        <td th:text="${clase.horaInicio}"></td>
        <td th:text="${clase.horaFin}"></td>
        <td>
          <a th:href="@{clases/confirmar/{id} (id=${clase.id}) }" class="btn btn-success">Confirmar</a>
        </td>
      </tr>       
    </tbody>
  </table>

</div>
<!-- /.container -->
 <div th:include="administrador/template_admin.html::footer" ></div>

 <!-- Bootstrap core JavaScript -->
    <script th:src="@{vendor/jquery/jquery.min.js}"></script>
    <script th:src="@{vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

</body>

</html>
