<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

 <title>Reserva Cita</title>
  <link rel="icon" href="/images/logoappReserva.jpg" type="image/png">
  <link rel="shortcut icon" href="/images/logoappReserva.jpg" type="image/png">


  <!-- Bootstrap core CSS -->
<link th:href="@{/vendor/bootstrap/css/bootstrap.css}"
	rel="stylesheet">

<!-- Custom styles for this template -->
<link th:href="@{/css/heroic-features.css}" rel="stylesheet">

</head>

<body>

  <!-- Navigation -->
  <div th:include="usuario/template_usuario.html::header-user"></div>

<!-- Page Content -->
<div class="container">
  <!-- Page Heading/Breadcrumbs -->

  <ol class="breadcrumb mt-4">
    <li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
    <li class="breadcrumb-item"><a th:href="@{/entrenadores}">Entrenadores</a></li>
    <li class="breadcrumb-item active">Actividades</li>
  </ol>
  
<div class="container">
  <div class="row">
    <div class="col-md-3">
      <div class="card mb-4">
        <img class="card-img-top" th:src="@{/images/{img} (img=${entrenador.imagen})}" alt="Foto de entrenador">
        <div class="card-body">
          <h5 class="card-title" th:text="${entrenador.nombre}"></h5>
          <p class="card-text" th:text="${entrenador.ubicacion}">Ubicación: Madrid</p>
          <p class="card-text" th:text="${entrenador.descripcion}"></p>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <h4>Fecha:</h4>
      <div th:each="modalidad: ${modalidades}">
        <div class="card mb-2">
          <a class="btn btn-primary"
            th:href="@{/entrenador/{idEntrenador}/{idCategoria}/{fecha}(idEntrenador=${entrenador.id}, idCategoria=${actividad.id_categoria}, fecha=${#dates.format(modalidad, 'yyyy-MM-dd')})}">
            <div class="card-body">
              <p class="card-text" th:text="${#dates.format(modalidad, 'dd/MM/yyyy')}"></p>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
</div>



<!-- /.container -->

<!-- Footer -->
<div th:include="administrador/template_admin.html::footer"></div>

	<!-- Bootstrap core JavaScript -->
	<script th:src="@{/vendor/jquery/jquery.min.js}"></script>
	<script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

</body>

</html>