<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

 <title>Reserva Cita</title>
  <link rel="icon" href="/images/logoappReserva.jpg" type="image/png">
  <link rel="shortcut icon" href="/images/logoappReserva.jpg" type="image/png">


  <!-- Bootstrap core CSS -->
<link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}"
	rel="stylesheet">

<!-- Custom styles for this template -->
<link th:href="@{/css/heroic-features.css}" rel="stylesheet">

</head>

<body>

  <!-- Navigation -->
  <div th:include="administrador/template_admin.html::header"></div>

<!-- Page Content -->
<div class="container">
  <!-- Page Heading/Breadcrumbs -->
  <h1 class="mt-4 mb-3">Reserva Cita <small>Editar Perfil</small></h1>
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
    <li class="breadcrumb-item active">Editar Perfil</li>
  </ol>
  
  <div class="row">
    <div class="col-md-4 mb-3" th:each="entrenador: ${entrenadorsele}">
    <h2 class="mt-2 mb-3">Vista Previa</h2>
      <div class="card">
        <img class="card-img-top" th:src="@{/images/{img} (img=${entrenador.imagen})} " alt="Foto de entrenador">
        <div class="card-body">
          <h5 class="card-title" th:text="${entrenador.nombre}"></h5>
          <p class="card-text" th:text="${entrenador.ubicacion}">Ubicación: Madrid</p>
          <p class="card-text" th:text="${entrenador.descripcion}"></p>
          
          <a href="#" class="btn btn-primary">Reservar cita</a>
        </div>
      </div>
    </div>
    
    <div class="col-md-8">
      <div class="shadow p-3 mb-5 bg-white rounded">
        <h2>Formulario</h2>
        <form class="form-horizontal" th:action="@{/administrador/actualizarPerfil}" method="post"  enctype="multipart/form-data">
        <input type="hidden" name="id" th:value="${entrenadorsele.id}">
          <div class="form-group">
            <div class="form-group">
            <label for="nombre">Nombre:</label>
            <input type="text" class="form-control" id="nombre" name="nombre" th:value="${entrenadorsele.nombre}">
          </div>
            <label for="descripcion">Descripción:</label>
<input type="text" class="form-control" id="descripcion" name="descripcion" th:value="${entrenadorsele.descripcion}"  />

          </div>
          <div class="form-group">
            <label for="imagen">Imagen:</label>
            <input type="file" class="form-control-file" id="img" name="img">
          </div>
          <div class="form-group">
            <label for="ubicacion">Ubicación:</label>
            <input type="text" class="form-control" id="ubicacion" name="ubicacion" th:value="${entrenadorsele.ubicacion}">
          </div>
          <button type="submit" class="btn btn-primary">Enviar</button>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- /.container -->

<!-- Footer -->
<div th:include="administrador/template_admin.html::footer"></div>

	<!-- Bootstrap core JavaScript -->
	<script th:src="@{/vendor/jquery/jquery.min.js}"></script>
	<script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

</body>

</html>
