<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

 <title>Reserva Cita</title>
  <link rel="icon" href="/images/logoappReserva.jpg" type="image/png">
  <link rel="shortcut icon" href="/images/logoappReserva.jpg" type="image/png">


  <!-- Bootstrap core CSS -->
<link th:href="@{/vendor/bootstrap/css/bootstrap.css}"
	rel="stylesheet">

<!-- Custom styles for this template -->
<link th:href="@{/css/heroic-features.css}" rel="stylesheet">

</head>

<body>

  <!-- Navigation -->
  <div th:include="administrador/template_admin.html::header"></div>

<!-- Page Content -->
<div class="container">
  <!-- Page Heading/Breadcrumbs -->
  <h1 class="mt-4 mb-3">Reserva Cita <small>Entrenamientos Disponibilidad</small></h1>
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
    <li class="breadcrumb-item active">Entrenamientos</li>
  </ol>
   <a class="btn btn-primary" th:href="@{/administrador/formularioDisponibilidad}" > Dar Disponibilidad</a>
    <h2 class="mt-2 mb-3">Vista Previa</h2>
  <div class="row">
  
    <div class="col-md-4 mb-3" th:each="modalidad: ${modalidades}">
     
      <div class="card">
        <img class="card-img-top" th:src="@{/images/{img} (img=${modalidad.imagen})} " alt="Foto de Deporte">
        <div class="card-body">
          <h5 class="card-title" th:text="${modalidad.nombre}"></h5>
          <p class="card-text" th:text="${modalidad.ubicacion}">Ubicación: Madrid</p>
          <p class="card-text" th:text="${modalidad.modalidad}"></p>
          
          <a href="#" class="btn btn-primary">Reservar cita</a>
        </div>
      </div>
    </div>
</div>
</div>
<!-- /.container

<!-- Footer -->
<div th:include="administrador/template_admin.html::footer"></div>

	<!-- Bootstrap core JavaScript -->
	<script th:src="@{/vendor/jquery/jquery.min.js}"></script>
	<script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

</body>

</html>
